.cardContent__paragraph {
    margin-top: 27px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-align: justify;
}

@media(max-width: 768px) {
    .cardContent__paragraph {
        text-align: center;
    }
}

@media(max-width: 576px) {
    .cardContent__paragraph {
        margin-top: 15px;
        font-size: 15px;
    }
}