.social {
    display: flex;
    align-items: center;
    font-size: 0;
}

.social a {
    margin-right: 15px;
}

.social svg {
    max-width: 20px !important;
    height: 20px !important;
}

.social a:hover svg path {
    fill: white !important;
    cursor: pointer;
}

.social a:last-child {
    margin-right: 0;
}