.sidebar__item {
    margin-bottom: 10px;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    max-width: 160px;
}

.sidebar__item--brown {
    color: #e3ab90;
    background-color: #451602;
}

.sidebar__item--brown:hover {
    color: #451602;
    background-color: #e3ab90;
}