.footerNavigation__item {
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    cursor: pointer;
}

.footerNavigation__item:last-child {
    margin-right: 0;
}

@media(max-width:768px) {
    .footerNavigation__item {
        margin-right: 0;
        margin-bottom: 5px;
    }
}