.footerNavigation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media(max-width:768px) {
    .footerNavigation {
        flex-direction: column;
        align-items: center;
    }
}
